#add {
    .add-list-button {
        border: none;
        padding: 0;
        margin: 0;

        &:hover {
            background-color: $accentColorLight;
            color: $accentColorDark;
        }
    }

    .add-list-input {
        margin-top: 5px;
    }

    .add-list-container {
        background-color: $accentColorDark;
        padding: 5px;
    }
}

// sm Tablet 768px
@media only screen and (min-width: 768px) {
    
}


// md small laptops 992px

@media only screen and (min-width: 992px) {
  
}

// lg laptops and desktop 1200px

@media only screen and (min-width: 1200px) {
  
}