#add {
    padding: 0.5rem;
    
    img {
        min-width: 100%;
    }
    
    h1 {
        margin-bottom: 1.5rem;
    }

    .add-list-button {
        border: none;
        padding: 0;
        margin: 0;

        &:hover {
            background-color: $accentColorLight;
            color: $accentColorDark;
        }
    }

    label {
        display: block;
    }

    .add-list-input {
        margin-top: 5px;
    }

    .add-list-container {
        background-color: $accentColorDark;
        padding: 5px;
    }

    .add-form-input-container {
            color: $lightColor;
            background-color: $accentColorDark;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }

    
    // sm Tablet 768px
    @media only screen and (min-width: 768px) {
        img {
            min-width: 25%;
            margin-right: 1.5rem;
        }

        .add-info-container {
            margin-bottom: 2rem;
        }

        .add-form-input-container {
            flex-direction: row;
        }

        .add-form-container div:nth-child(1),
        .add-form-container div:nth-child(2),
        .add-form-container div:nth-child(3) {
            flex-basis: 33%;
            padding: 0.5rem;
        }
    }

    // md small laptops 992px

    @media only screen and (min-width: 992px) {
        
    }

    // lg laptops and desktop 1200px

    @media only screen and (min-width: 1200px) {
        
    }
}