#footer {
    background-color: $accentColorDark;
    color: $lightColor;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;


    // sm Tablet 768px
    @media only screen and (min-width: 768px) {

    }
    
    
    // md small laptops 992px
    
    @media only screen and (min-width: 992px) {
        
    }
    
    // lg laptops and desktop 1200px
    
    @media only screen and (min-width: 1200px) {
        
    }
}
