#profile {

    h1 {
        margin-bottom: 40px;
        color: $accentColorDark;
    }

    .movie-list {
        margin-bottom: 2rem;
        position: relative;

        p:not(.sort-button) {
            position: absolute;
            top: 0;
            right: 0.5rem;
            color: $lightColor;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    .movie-list-container {

        h1 {
            background-color: $accentColorDark;
            padding: 10px;
            margin-bottom: 15px;
            color: $lightColor;
        }

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
            grid-gap: 1rem;
            margin: 0;
    
    
            li {
    
                img {
                    width: 100%;
                }
            }
    
            li:hover .edit-buttons {
                display: inline-block
             }
        }

        .list-sorting {
            display: flex;
            justify-content: center;

            .sort-button {
                cursor: pointer;
                padding-right: 2rem;
            }

            :last-child {
                padding-right: 0;
            }
        }

        .movie-item-edit {
            position: relative;
        }
    }

    

    .edit-buttons {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        margin-right:0.5rem;

        button {
            width: 30px;
            height: 30px;
            background-color: $accentColorDark;
            padding: 0;
        }

        button:hover {
            background-color: $accentColorLight;
        }
    }

    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {
        .edit-buttons {
            display: block;
        }
    }

    // sm Tablet 768px
    @media only screen and (min-width: 768px) {

        .grid-container {
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        }
        
    }
    
    
    // md small laptops 992px
    
    @media only screen and (min-width: 992px) {
      
    }
    
    // lg laptops and desktop 1200px
    
    @media only screen and (min-width: 1200px) {
      
    }
}
