#profile {

    h1 {
        margin-bottom: 40px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 20px;

        h1 {
            background-color: $accentColorDark;
            padding: 10px;
            margin-bottom: 15px;
        }
    }
    
    ul {
        list-style: none;

        li {
            margin-bottom: 15px;
        }

        img {
            max-height:100px;
            margin-right: 10px;
        }
    }

}



// sm Tablet 768px
@media only screen and (min-width: 768px) {
    
}


// md small laptops 992px

@media only screen and (min-width: 992px) {
  
}

// lg laptops and desktop 1200px

@media only screen and (min-width: 1200px) {
  
}