#profile {

    h1 {
        margin-bottom: 40px;
        color: $accentColorDark;
    }

    .movie-list {
        margin-bottom: 2rem;
    }
    
    .movie-list-container {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        // gap: 20px;

        h1 {
            background-color: $accentColorDark;
            padding: 10px;
            margin-bottom: 15px;
            color: $lightColor;
        }

        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
            grid-gap: 1rem;
            margin: 0;
    
    
            li {
    
                img {
                    width: 100%;
                }
            }
    
            li:hover .edit-buttons {
                display: inline-block
             }
        }

        .list-sorting {
            display: flex;
            justify-content: space-between;
        }

        .movie-item-edit {
            position: relative;
        }
    }

    

    .edit-buttons {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        margin-right:0.5rem;

        button {
            width: 30px;
            height: 30px;
            background-color: $accentColorDark;
            padding: 0;
        }

        button:hover {
            background-color: $accentColorLight;
        }
    }

    // sm Tablet 768px
    @media only screen and (min-width: 768px) {

        .grid-container {
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        }
        
    }
    
    
    // md small laptops 992px
    
    @media only screen and (min-width: 992px) {
      
    }
    
    // lg laptops and desktop 1200px
    
    @media only screen and (min-width: 1200px) {
      
    }
}


